<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>licuado de banana</title>
</head>
<body>
     <H1>LICUADO DE BANANA</H1>
     <img src="../img/licuadodebanana.png" alt="vaso de vidrio con licuado de banana" width="500" height="200">
     <p><b>Ingredientes:</p></b> 
     <ul> 
        <li>2 tazas de leche</li>
        <li>1 banana de tamaño mediado</li>
        <li>1 taza de cubos de hielo</li>
        <li>2 cuacharadas de azúcar</li>
        <li>1 cucharadita de vainilla</li>
     </ul>
     
     <p><b>Preparación:</p></b> 
        <iframe width="500" height="200" src="https://www.youtube.com/embed/cp2-NN9G30s" title="LICUADO de BANANA con LECHE,  @COCIN-AR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
     <ol>
        <li>Picar la banana en trozos pequeños.</li>
        <li>Colocar la leche, el azúcar y la banana picada en la licuadora.</li>
        <li>Prender la licuadora por unos segundos hasta que se integre.</li>
        <li>Por último, colocar la cucharadita de vainilla y los cubos de hielo.</li>
        <li>Licuar hasta lograr la consistencia deseada.</li>
        <li>Servir.</li>
     </ol>
</body>
</html>