<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panqueques con dulce de leche</title>
</head>
<body>
     <H1>PANQUEQUES CON DULCE DE LECHE </H1>
     <img src="../img/panqueques.png" alt="panqueques rellenos de dulce de leche" width="500" height="200">
     <p><b>Ingredientes:</p></b> 
     <ul> 
      <li>125 gramos de harina harina de trigo</li>
      <li>2 huevos</li>
      <li>250 mililitros de leche</li>
      <li>80 gramos de dulce de leche</li>
      <li>2 cucharadas de manteca</li>
     </ul>
       
        <iframe width="500" height="200" src="https://www.youtube.com/embed/vBYY1qZRYxE" title="¡QUIERO COMER! | Panqueques - Dulce de leche" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
     <p><b>Preparación:</p></b> 
     <ol> 
      <li>Batir los huevos con la harina y un chorrito de leche hasta que la masa líquida se vuelva homogénea.</li>
      <li>Agregar el resto de la leche.</li>
      <li>Batir hasta que queden bien incorporados los ingredientes y no queden grumos.</li>
      <li>Preparar la sartén, colocar un poco de la manteca en ella.</li>
      <li>Con un cucharón, colocar la masa en el sartén cuidando que la misma cubra bien el fondo, los bordes y el centro.</li>
      <li>Cuando los bordes empiecen a secarse y a aparecer burbujas, con una espátula darlo vuelta.</li>
      <li>Dorarlo del otro lado por menos de dos minutos.</li>
      <li>Sacarlo del sartén, dejarlo enfriar y untar el dulce de leche.</li>
      <li>Servir.</li>
     </ol>
</body>
</html>